.profile {
     background-color: rgb(255, 255, 255);
     position: relative;
}

.profile-image-area {
     z-index: 1;
}

.profile-main {
     display: flex;
     position: absolute;
     flex-direction: column;
     background-color: #fff;
     width: 100vw;
     height: 100vh;
     border-radius: 60px 60px 0px 0px;
     z-index: 100;
     top: 80%;
     color: rgb(0, 0, 0);
     align-items: center; 
     padding: 0 auto;
}

// Titulo principal
.profile-header {
     margin-top: 40px;
     text-align: center;
     
}

.profile-header h2 {
     line-height: 0.5;
     font-size: 20px;
     color: #957DAD;
}

.profile-header h1 {
     font-size: 32px;
     margin-top: 5px;
     font-weight: 800;
     color: #440485;
     //Gradiente
     background-image: linear-gradient(45deg, #1c0f4a , #8e3cd9 50%, #f72cff 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     display: inline-block;
}

// Cards e icones
.profile-info {
     margin: 30px 0 80px 0;
     display: flex;
     flex-direction: column;
     gap: 41px;
}

.profile-card {
     display: flex;
     background-color: #faf4fc;
     gap: 10px;
     border-radius: 10px;
     width: 80vw;
     text-align: center;
     justify-content: center;
  
}

.profile-icon {
    color: #8e3cd9;
    font-size: 50px;
}
